#ignore php storm project files
.idea/

#ignore netbeans project files
nbproject

#ignore mac filesystem files
.DS_Store


# Assets and user uploads
/public/uploads/
/public/sitemap*.xml
/public/css/*
/public/js/*
/public/fonts/*


# PHPUnit
/app/phpunit.xml


# Build data
/build/

# Composer Lock file
/composer.lock

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~


###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
