# Bootstrap
app/bootstrap*

bin/
composer.phar

# Symfony directories
vendor
app/cache
app/logs
app/*.cache
web/uploads/*
web/bundles/*
web/sitemap*.xml
web/css/
web/js/
web/uploads/

# Configuration files
app/config/parameters.ini
app/config/parameters*.yml

# Composer
composer.phar

#ignore php storm project files
.idea/

#ignore netbeans project files
nbproject

#ignore mac filesystem files
.DS_Store

composer.lock
