{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% block menu %}
    <div class="header">
        {{ knp_menu_render('langMenu', {'currentClass': 'active', 'ancestorClass': '', 'allow_safe_labels': 'true'}) }}
            <div style="margin-right:20px;float:left;"><img src="{{ asset('bundles/applicationnetworkinginitcms/img/sailing_icon_grey.png') }}" /></div>
            <div style="float:left;">
                <h3>Demo Sailing Club</h3>
            </div>
        <div class="clearfix"></div>
    </div>
    <div class="row-fluid nav-main-container">
    {{ knp_menu_render('mainMenu', {'depth':1, 'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': 'true'})}}
        {{ mopa_bootstrap_menu('subMenu') }}
    </div>
{% endblock menu %}




