{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% from 'NetworkingInitCmsBundle:GalleryView:macro.html.twig' import lightbox, carousel %}

{% if text is defined %}
<div class="text">
	{{ text | raw }}
</div>
{% endif %}

{% if galleryView is defined %}
<div class="gallery">
    {% if galleryView.galleryType == 'lightbox' %}
        {{ lightbox(galleryView.mediaGallery) }}
    {% endif %}
    {% if galleryView.galleryType == 'carousel' %}
        {{ carousel(galleryView.mediaGallery, 'heroCarousel', null, 'medium', '300px') }}
    {% endif %}
</div>
{% endif %}
