{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SandboxInitCmsBundle::base.html.twig' %}


{% block title %}{% endblock title %}
{% block container_class %}container-narrow{% endblock container_class %}

{% block navbar %}
    {{ mopa_bootstrap_navbar('cmsNavbar' ) }}
{% endblock navbar %}



{% block content_row %}
    {{ parent() }}
{% endblock content_row %}

{% block footer %}
    <hr />
    <div class="footer">
        {{ mopa_bootstrap_navbar('footerNavbar') }}
    </div>
{% endblock footer %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
	$(document).ready(function () {
		window.prettyPrint && prettyPrint();
	});
</script>
{% endblock foot_script %}
